@font-face {
    font-family: 'icomoon';
    src:  url('https://gitlab.com/Santos_JAC/font/-/blob/main/icomoon.eot?2brzou');
    src:  url('https://gitlab.com/Santos_JAC/font/-/blob/main/icomoon.eot?2brzou#iefix') format('embedded-opentype'),
      url('https://gitlab.com/Santos_JAC/font/-/blob/main/icomoon.ttf?2brzou') format('truetype'),
      url('https://gitlab.com/Santos_JAC/font/-/blob/main/icomoon.woff?2brzou') format('woff'),
      url('https://gitlab.com/Santos_JAC/font/-/blob/main/icomoon.svg?2brzou#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-JACS-logo:before {
    content: "\e900";
    color: #fff;
  }